.container {
    
    padding: 1em;
}

h1 {
    text-align: center;
}

.sidebar {
    background-color: green;
    height: auto;
    float: left;
    display:inline-block;
    padding: 1em;
}

ul.sidecol {
    line-height: 2.7;
    list-style-type: none;
   
}

.blogcontainer {
    padding: 1em; 
    display:inline-block;
    width: 1000px;
    margin-left: 1em;
    
}

.blog1 {
     padding: 1em;
 
}

.blog2 {
    padding: 1em;
}

ul.bloglist {
    list-style-type: none;
  
}

li.bloglist{
    display: inline;
}