
* {
    margin: 0;
}
#footer {

	background-color: #00929F;
    font-family:arial;
    clear: both;
    height: 140px;
    text-align: left;
	overflow:auto;
}

.center-div {
	margin:0 auto;
	width: 900px;
}

#footercontainer {
	background-color: #00929F;
	padding: 15px;
}

.col2 li a {
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 5px;
}
.col2 li a:hover {
  background-color: #006470;
  color: #ddd;
}

.col3 li a {
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 5px;
}

.col3 li a:hover {
  background-color: #006470;
  color: #ddd;
}

ul.col1 {
	display: inline;
	list-style-type: none;
	float: left;
	line-height: 1.9;
	color: aqua;

}

ul.col2 {
	display: block;
	list-style-type: none;
	float: left;
    line-height: 2.2;
    color: aqua;

}
ul.col3 {
	display: block;
	list-style-type: none;
	float: left;
  line-height: 2.2;
  color: aqua;

}
ul.col4 {
    display: block;
	list-style-type: none;
    line-height: 1.7;
    color: aqua;
	float:right;
}


img {
    height: 50px;
    float: left;
}
a{
    color: inherit;
}
