
* {
    margin: 0;
}
#footer {

	background-color: #00929F;
    font-family:arial;
    clear: both;
    height: 150px;
    text-align: left;
    padding: 10px;
   
         
}

.center-div {	
	margin:0 auto;
	width:800px;
}

#footercontainer {
	background-color: #00929F;
}

ul.col1 {
	display: inline;
	list-style-type: none;
	float: left;
    line-height: 1.7;
    color: aqua;
    width: 200px
}

ul.col2 {
	display: block;
	list-style-type: none;	
	float: left;
    line-height: 1.7;
    color: aqua;
}
ul.col3 {
	display: block;
	list-style-type: none;	
	float: left;
    line-height: 1.7;
    color: aqua;
}
ul.col4 {
    display: block;
	list-style-type: none;	
	float: left;
    line-height: 1.7;
    color: aqua;
}

img {
    height: 50px;
    float: left;
}
a{
    color: inherit;
}

