* {
    box-sizing: border-box;
}
.nike{
	width:1500px;
	height:500px;
}

body {
	margin: 0;	
}

h1.h1 {
    text-align: center;
}

.midh2 {
    text-align: left;
	margin-left: 200px;
}

.slideshow {
	margin:auto;
	width:1500px;
	height:500px;
	margin-bottom:20px;
	display:-inline-block;
}

.middlecontainer {
	margin:0 auto;
    width: 100%;
	height: 600px;
	display:inline-block;
	overflow:auto;
	padding-left:200px;
	padding-right:200px;
}

.feeddiv {
	width: 45%;
	height: 500px;
	border: 2px solid #000;
	float:left; 
	display:inline-block;
	margin:auto;
	overflow:auto;
}

.blogdiv {
	width: 45%;
	height: 500px;
	border: 2px solid #000;
	float:right;
	display:inline-block;
	margin:auto;
	overflow:auto;

}

.feed {
	text-align: center;
}
.blog {
	text-align: center;
}

.center-div {	

}

.botdiv1 {
	height:200px;
	width: 1500px;
	border:2px solid #000;
	display:inline-block;
	margin-left: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
}
