* {
    font-family:arial;
}

.HL-logo {
  height: 110px;
  float: left;
  padding-top: 5px;
}

.topnavcontainer {
	overflow:auto;
	background: #00929F;
	height: 115px;
}

.topnav {
  
  height: 115px;
  color: black;
  font-family:arial;
  display: block;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;  
    font-family:arial;
}

.navlist li {
  display: inline;
	float: left;
	padding-left:30px;
  font-size: 18px;
  line-height: 1.7;
}

.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  	border-radius: 5px;
    color: aqua;
    font-weight: bold;
}

.navlist li a:hover {
    background-color: #006470;
}

#searchicon {
	float: right;
}

#shoppingicon {
	float: right;
}